<?xml version="1.0"?>
<config>
  <modules>
    <PrasadSolutions_Seller1>
      <version>0.1.0</version>
    </PrasadSolutions_Seller1>
  </modules>
  <global>
    <helpers>
      <seller1>
        <class>PrasadSolutions_Seller1_Helper</class>
      </seller1>
    </helpers>
	<blocks>
	  <seller1>
		<class>PrasadSolutions_Seller1_Block</class>
	  </seller1>
	</blocks>
	<models>
	  <seller1>
		<class>PrasadSolutions_Seller1_Model</class>
		<resourceModel>seller1_mysql4</resourceModel>
	  </seller1>
	  <seller1_mysql4>
		<class>PrasadSolutions_Seller1_Model_Mysql4</class>
		<entities>		  
			  <seller1>
				<table>marketplace_sellerprofile</table>
			  </seller1>
		</entities>
	  </seller1_mysql4>
	</models>
	<resources>
	  <seller1_setup>
		<setup>
		  <module>PrasadSolutions_Seller1</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </seller1_setup>
	  <seller1_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </seller1_write>
	  <seller1_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </seller1_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <seller1>
	    <use>admin</use>
		<args>
		  <module>PrasadSolutions_Seller1</module>
		  <frontName>seller1</frontName>
		</args>
	  </seller1>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <seller1 module="seller1">
		<title>Seller</title>
		<sort_order>100</sort_order>
		<children>
		  <seller1 module="seller1">
		    <title>Manage Sellers</title>
			<sort_order>0</sort_order>
			<action>seller1/adminhtml_seller1</action>
		  </seller1>
		</children>
	  </seller1>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<seller1 translate="title" module="seller1">
			  <title>Seller1</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <seller1 translate="title">
			<title>Manage Seller1</title>
			<sort_order>0</sort_order>
		  </seller1>
			  </children>
			</seller1>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<seller1>
		  <file>seller1.xml</file>
		</seller1>
	  </updates>
	</layout>
  </adminhtml>
</config> 